body, html {
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
}

.bg {

  width: 100vw;
 
  

 
  background-position:center;
  background-color:black;
 

}

#text2{
height: fit-content;
text-align: center;
margin: 20px 0% 20px 0%;
width:100%;
left:auto;
right:auto;
padding: 50px;


}
#directions3 {

  margin:  20px;


}


.text {

   
color:#800000;
font-size: 7vw;
text-align: center;
background-color: white;

padding:20px;
padding-bottom: 0px;

opacity:.8;
font-variant: small-caps;
border-radius: 10px;


}
#directions2 {
padding:0;

text-align: center;
min-height:10px;



}






ul {

  padding-inline-start: 0px;
}
ul.directions {

  white-space: nowrap;
  text-align: center;

}

#directions3{

margin:-13% 0 0 0;
}

.directions{

padding-bottom:-10px;


text-align: center;
font-size: 35%;
font-size-adjust: initial;
}

#text2:hover{
box-shadow: 0px 0px 20px 5px white;
}

#topic {

  background-color: white;
  opacity:.8;
}

  #username {

background-color: white;
  opacity:.8;
  text-align:center;
  font-size:35%;


  }
  #password {

background-color: white;
  opacity:.8;
  text-align: center;
  font-size:35%;

  }





.buttons {


color:white;
background-color: #800000;
opacity:.8;
padding:15px;
font-variant: small-caps;
border:0px;



}

.form-control::-webkit-input-placeholder { color:#800000; font-variant: small-caps;}  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #800000;font-variant: small-caps; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color:#800000;font-variant: small-caps; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color:#800000;font-variant: small-caps; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color:#800000;font-variant: small-caps; }  /* Microsoft Edge */


.buttons:hover{
box-shadow: 0px 0px 20px 5px white;
color:#800000;
background-color:white;



border: 0px;
opacity:80%;

}

#register {

font-size: 35%;

  margin: -3% 0 0 0;

  background-color: white;
  opacity:.8;
  color:#800000;
  
  font-variant: small-caps;
  border: 1px solid #800000
 

}

#register:hover {

box-shadow: 0px 0px 20px 5px #800000;
color:white;
background-color: #800000;
border: 0px;
opacity:80%;
border: 1px solid #800000
 

}


#formOne {

  
float: right;




}

#formTwo {

  
float:left;


}
@media only screen and (max-width: 766px) {
  #formOne {
    float:none;
  }
}

@media only screen and (max-width: 767px) {
  #formTwo {
    float:none;
  }
}


.changeImage{

width:100vw;

}


#title {

text-shadow: 2px 2px 4px black;
line-height: initial;
}


 #title:hover {

text-shadow: 4px 4px 6px black;
}

#inputRow{

margin: 0 10% 0 10%;

}



.table {


padding-bottom:-10px;


text-align: center;
font-size: 35%;
font-size-adjust: initial;
  width:98%;
 

}

.left {

  width:50vw;
}


.right {
  width:50vw;


}

#imageToolOne{
line-height: 20vw;


}


#imageToolTwo
{
line-height:20vw;



}

img {

width: 80%;

}

thead {

text-align: center;

}

#historicalData{

  font-size:50%;
  margin-bottom:-1%;
  padding-bottom:0%;

}
/* }
#imageToolTwo:hover {

background-color: white;

}




#imageToolOne:hover {

background-color: white;

}


#imageToolOne:hover ~ #imageToolTwo {

background-color: white;

}

#imageToolTwo:hover ~ #imageToolOne {
    background-color: white;
}

#imageToolTwo:hover {

background-color: white;

}
 */

#tableBody:hover {

  background-color: white;
}



#rock {

font-size: 35%;

  margin: -3% 0 0 0;

  background-color: white;
  opacity:.8;
  color:#800000;
  
  font-variant: small-caps;
  border: 1px solid #800000
 

}

#rock:hover {

box-shadow: 0px 0px 20px 5px #800000;
color:white;
background-color: #800000;
border: 0px;
opacity:80%;
border: 1px solid #800000
 

}

#paper {

font-size: 35%;

  margin: -3% 0 0 0;

  background-color: white;
  opacity:.8;
  color:#800000;
  
  font-variant: small-caps;
  border: 1px solid #800000
 

}

#paper:hover {

box-shadow: 0px 0px 20px 5px #800000;
color:white;
background-color: #800000;
border: 0px;
opacity:80%;
border: 1px solid #800000
 

}


#scissors {

font-size: 35%;

  margin: -3% 0 0 0;

  background-color: white;
  opacity:.8;
  color:#800000;
  
  font-variant: small-caps;
  border: 1px solid #800000
 

}

#scissors:hover {

box-shadow: 0px 0px 20px 5px #800000;
color:white;
background-color: #800000;
border: 0px;
opacity:80%;
border: 1px solid #800000
 

}

td.right.lastRow {

padding:0px;
 
}
td.left.lastRow {

padding:0px;
 
}
#info {

  margin-bottom: 0px;


}
#minimum {

  font-size: 25%;
  margin:0 0 1% 0px;
}

#chat-send {

font-size: 35%;

  margin: -3% 0 0 0;

  background-color: white;
  opacity:.8;
  color:#800000;
  
  font-variant: small-caps;
  border: 1px solid #800000
 

}

#chat-send:hover {

box-shadow: 0px 0px 20px 5px #800000;
color:white;
background-color: #800000;
border: 0px;
opacity:80%;
border: 1px solid #800000
 

}

#player-chat {
background-color: black;
color: white;
height: 100px;
line-height: 10px;
font-size: 20px;
width:90%;
}

#chat-box {
background-color: white;
color: black;
height: 100px;
line-height: 10px;
font-size: 20px;
}